
body{
  font-family: 'Hind Guntur', sans-serif;
  color: #040f0c;
  display: flex;
  justify-content: center;
  background: linear-gradient(#e66465, #9198e5);
  height: 100vh;
}
.App{
  text-align: center;
}